*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{   
    background-color:#17181b;
    
}
h1{
    text-align: center;
    color: white;
}

h4{
    font-size: 16px;
    font-weight: 700;
}
header{
    padding: 20px 0 0 0;
    background: #1d2124;
    text-align: center;
}

@media (min-width: 750 px) {
    header {
        text-align: left;
    }
}

.borrar-platillo{
    background-color: #fbaf32;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

ul{
    list-style: none;
}

.encabezado {
    margin: 30px 0;
    color: white;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background:#17181b;
    padding: 20px;
}

.vacio {
    padding: 10px;
    background-color: #fbaf32;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255,255);
}

.button {
    background-color: #fbaf32;
    color: rgb(255, 255,255);
}

#opciones_pedidos .row{
    margin-bottom: 20px;
}

.ingresar{
    margin: 10px 0;
}

.card {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05) ;
    background: #1d2124;
}

@media (min-width: 300px){
    .card {
        text-align: left;
    }
}

img{
    height:auto ;
    width: auto;
    max-height: 400px;
    max-width: 400px;
}

.info-card{
    padding: 10px 20px;
    color: white;
}
.info-card p,
.card h4 {
    margin-bottom: 5px ;
}

.footer{
    margin-top: 40px;
    padding-top: 40px;
    background: #1d2124;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px ;
    text-decoration: none;
}